<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">
                CT
            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
                Creative Tim
            </a>
        </div>
        <ul class="nav">
            <li>
                <a href="{% url 'index' %}">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Inicio</p>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="tim-icons icon-atom"></i>
                    <p>Cuentas</p>
                </a>
            </li>
            <li>
                <a href="{% url 'all-clients' %}">
                    <i class="tim-icons icon-single-02"></i>
                    <p>Clientes</p>
                </a>
            </li>
            <li>
                <a href="{% url 'all-assignments' %}">
                    <i class="tim-icons icon-single-02"></i>
                    <p>Asignaciones</p>
                </a>
            </li>
        </ul>
    </div>
</div>