{% extends './layouts/main.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="w-100">
    <div class="card">
        <div class="card-header">
            <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
            <form action="/controlcuentas/agregar-cuenta" method="post">{% csrf_token %}
                <div class="row">
                    <div class="col-md-6 pr-md-1">
                        <div class="form-group">
                            <label>{{form.cli_name.label}}</label>
                            {% render_field form.cli_name class="form-control" placeholder="Company" value="Creative Code Inc."%}
                        </div>
                    </div>
                    <div class="col-md-6 px-md-1">
                        <div class="form-group">
                            <label>{{form.cli_phone.label}}</label>
                            {% render_field form.cli_phone class="form-control" placeholder="Numero De Telefono"%}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-fill btn-primary">Save</button>
                </div>
            </form>
        </div>

    </div>
</div>


{% endblock %}