{% extends './layouts/main.html' %}
{% load static %}



{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</nav>

<h5 class="h3" style="color: #fff; font-size:">Cuentas</h5>

<div class="row">
    {% for i in nombre %}
        <div class="col-4">
                <div class="card card-user">
                    <div class="card-body">
                        <p class="card-text">
                        <div class="author">
                            <div class="block block-one"></div>
                            <div class="block block-two"></div>
                            <div class="block block-three"></div>
                            <div class="block block-four"></div>
                            <a href="javascript:void(0)">
                                <img class="avatar" src="{% static 'controlcuentas/upload/images/cat-type-account/netflix-icon.jpg' %}" alt="...">
                                <h5 class="title h3">Netflix</h5>
                            </a>
                            <p class="description">
                                994-367-3625
                            </p>
                            <p class="card-description">Vence: 02/05/2022</p>
                            <p class="card-description" style="color: red">En 5 Dias</p>
                        </div>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="button-container">
                            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
                            <i style="font-size: 30px; text-align: center; text">﫸</i>
                            </button>
                            {% comment %} <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                                <i class="fab fa-twitter"></i>
                                <i class="fas fa-thumbs-up fa-5x" aria-hidden="true"></i>
                            </button>
                            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                                <i class="fab fa-google-plus"></i>
                            </button> {% endcomment %}
                        </div>
                    </div>
                </div>
        </div>
    {% endfor %}
    
</div>

{% endblock %}


