{% extends './layouts/main.html' %}
{% load static %}



{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Inicio</li>
    </ol>
</nav>

<h5 class="h3" style="color: #fff; font-size:">Cuentas</h5>

<div class="row">
    {% for a in assignments %}
        <div class="col-4">
                <div class="card card-user">
                    <div class="card-body">
                        <p class="card-text">
                        <div class="author">
                            <div class="block block-one"></div>
                            <div class="block block-two"></div>
                            <div class="block block-three"></div>
                            <div class="block block-four"></div>
                            <a href="javascript:void(0)">
                                <img class="avatar" src="/requeriments/media/{{a.assi_fkaccount.acc_fktypeaccount.typacc_image}}" alt="...">
                                <h5 class="title h3">{{a.assi_fkaccount.acc_fktypeaccount}}</h5>
                            </a>
                            <p class="description">
                                {{a.assi_fkclient}}
                            </p>
                            <p class="card-description">{{a.assi_daterenovation}}</p>
                            <p class="card-description" style="color: red">{{a.getRemaining_time}}</p>
                        </div>
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="button-container">
                            <a href="{% url 'view_assignment' a.assi_id %}" class="btn btn-icon btn-round"><i class="fas fa-solid fa-eye"></i></a>
                            {% comment %} <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
                                <i class="fab fa-twitter"></i>
                                <i class="fas fa-thumbs-up fa-5x" aria-hidden="true"></i>
                            </button>
                            <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
                                <i class="fab fa-google-plus"></i>
                            </button> {% endcomment %}
                        </div>
                    </div>
                </div>
        </div>
    {% endfor %}
    
</div>

{% endblock %}


